h1 About
.question What is this?
  p Thumb War is an SMS game to test how fast you can send an SMS.  Its meant for entertainment purposes only.
.question Who made this?
  p Thumb War was made by <a href="http://twitter.com/_nw_">Nathan White</a>, <a href="http://twitter.com/brendannee">Brendan Nee</a>, and <a href="http://twitter.com/cpetzold">Conner Petzold</a> during the <a href="http://apihackday.eventbrite.com/">APIHackDay</a>.
.question What is it built on?
  p Thumb War uses the <a href="http://twilio.com">Twilio API</a> to receive SMS messages and is built on <a href="http://nodejs.org/">Node.js</a> and the <a href="http://expressjs.com/">Express framework</a>.
.question Can I see the source code?
  p <a href="http://github.com/cpetzold/sms-game">Sure</a>.