#instructions Text this to <span>415-413-3882</span> as quickly as you can. 
#word  And what an ignorant little girl she'll think me for asking
#counter 
  #label Time Elapsed:
  #time 3.567
  #unit secs
#disclaimer *Standard SMS charges from your carrier may apply.
#scores
  h2 Scores
  ul
    li 
      .place 1
        span st
      .name Redleader
      .score 400
    li.wrong 
      .place 2
        span nd
      .name anonymous56
      .score 300
      .message Incorrect!
    li
      .place 3
        span rd
      .name bigdaddy
      .score 250
    li 
      .place 4
        span th
      .name Redleader
      .score 200
    
  