#instructions Quick! Text this to <span>415-413-3882</span>
#word  And what an ignorant little girl she'll think me for asking
#counter 
  #label Time Elapsed:
  #time 3.567
  #unit secs
#disclaimer *Standard SMS charges from your carrier may apply.
#scores
  h2 Scores
  ul
    li 
      .place 1
        span st
      .name Redleader
      .score 400
    li.wrong 
      .place 2
        span nd
      .name anonymous56
      .score 300
      .message Incorrect!
    li
      .place 3
        span rd
      .name bigdaddy
      .score 250
    li 
      .place 4
        span th
      .name Redleader
      .score 200
#share
  h2 Share this
  a#twitter(href="http://twitter.com/share", class="twitter-share-button", data-text="I love playing Thumb War", data-count="none") Tweet
  script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
  iframe#facebook(src="http://www.facebook.com/plugins/like.php?href=white.no.de&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80", scrolling="no", frameborder="0", allowTransparency="true")
    
  