h1 Text Tester
#counter 
  #label Time Remaining:
  #time 3.567
#word  Down the rabbit hole
#instructions Test ur txting skillz: Text the word above to <span>415-413-3882</span> as quickly as you can.
  #disclaimer Standard SMS charges from your carrier may apply.
ul#scores
  li Redleader
    span 400
  li.wrong anonymous56
    span 340
  li bigdaddy
    span 200
  li pretzelman
    span 100
    
  