#instructions Text this to <span>415-413-3882</span> as quickly as you can. 
#counter 
  #label Time Elapsed:
  #time 3.567
  #unit secs
#word  Down the rabbit hole
#disclaimer *Standard SMS charges from your carrier may apply.
#scores
  h2 Winners
  ul
    li 
      .place 1
      .name Redleader
      .score 400
    li.wrong 
      .place 2
      .name anonymous56
      .score 300
    li
      .place 3
      .name bigdaddy
      .score 250
    li 
      .place 4
      .name Redleader
      .score 200
    
  