!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(type='text/javascript', src='/Socket.IO/socket.io.js')
    script(type='text/javascript', src='/js/main.js')
  body
    #wrapper
      #header 
        #logo
          h1 Thumb War
        ul#menu
          li 
            a#signup(href="#") Signup
          li
            a(href="/faq") FAQ
      #content!= body
        #signup-form
          h2 Signup on Thumb War to claim your score
          form
            input#phone(type='text', placeholder='Phone Number', name='phone')
            input#username(type='text', placeholder='Desired Username', name='username')
            input#password(type='password', placeholder='Password', name='password')
            input#submit(type='submit')
      #footer Made for <a href="http://apihackday.eventbrite.com/">APIHackDay</a> by <a href="http://twitter.com/_nw_">Nathan White</a>, <a href="http://twitter.com/brendannee">Brendan Nee</a>, and <a href="http://twitter.com/cpetzold">Conner Petzold</a>