!!! 5
html
  head
    title Spasms
    link(rel='stylesheet', href='/css/room.css')
  body
    #container
      #output
        #scroll
        
          .message
            span.from Conner: 
            | this is a sample chat message
            
          .round
            .title Round 
              span.num 1
            .string this is a test round
            .timer 0.00
        
          .next The next round will start in 
            time 10
        
          .round.active
            .title Round 
              span.num 2
            .string this is an active round
            .timer 9.53
            
          .submission
        
      ul#players
    
      input#input(name='input')
    
    
    
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/spasms.js')