!!! 5
html
  head
    title Spasms
    link(rel='stylesheet', href='/css/room.css')
  body
    #container
      #top
        #string Game will start in 10 seconds
    
      #middle
        #output
        ul#players
    
      #bottom
        form#input
          input.fake
          input#entry(name='entry', placeholder='Chat: [Enter] - Submit: [Ctrl]+[Enter]')
    
    
    
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/spasms.js')