!!! 5
html
  head
    title spas.ms
    link(rel='stylesheet', href='/css/room.css')
  body
  
    #join
      form#form
        input#name(name='user[name]', placeholder='Name')
        input#phone(name='user[phone]', placeholder='Phone #')
        input#goplay(name='submit', type='submit', value='Play!').notyet
      
    #play
      #focus
        time#timer 10.30 
        #phrase And what an ignorant little girl she'll think me for asking
      
      #submissions
      
      
  
  
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery.validate.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/main.js')