!!! 5
html
  head
    title Spasms
    link(rel='stylesheet', href='/css/room.css')
  body
    
    #top
      #string
    
    #middle
      #output
      ul#players
      
    pre= game
    
    
    #bottom
      form#input
        input#alias(name='alias', placeholder='Your Alias')
        input#entry(name='entry', placeholder='Entry')
        input#submit(name='submit', type='submit', value='Submit').notyet
    
    
    
    
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/main.js')