body {
  background: #efefef;
  font-family: Verdana;
  font-size: 11px;
  line-height: 14px;
}
ul, p {
  margin: 0;
  padding: 0;
}
#container {
  position: absolute;
  background: #dddddd;
  border: 1px solid #cccccc;
  top: 200px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
#output {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 211px;
  bottom: 40px;
  overflow: auto;
  color: #111;
  background: #fff;
  border: 1px solid #ccc;
}
#scroll > div {
  padding: 8px;
}
.message {
  border-bottom: 1px solid #eee;
  background: #f2f2f2;
}
.message:nth-child(odd) {
  background: #f8f8f8;
}
#players {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 40px;
  width: 200px;
  background: #eee;
  border: 1px solid #ccc;
}
#input {
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
input {
  font-size: 16px;
  padding: 5px;
  outline: 0;
  border: 1px solid #aaa;
  margin: 0;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #777;
}
.current {
  box-shadow: 0px 0px 15px #eeeeee;
  -webkit-box-shadow: 0px 0px 15px #eeeeee;
  -moz-box-shadow: 0px 0px 15px #eeeeee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #f8f8f8;
}
.round {
  font-size: 13px;
  line-height: 20px;
}
.round .info {
  color: #666;
  font-weight: bold;
}
.round .info .num {
  color: #444;
}
.round .info .timer {
  font-size: 12px;
  color: #64bd23;
}
.round .phrase {
  color: #237abd;
}
.round .phrase .string {
  margin-left: 155px;
}
.round .entries {
  list-style: none;
}
.round .entries li span {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}
.round .entries li .who {
  width: 100px;
  text-align: right;
  left: 0;
  color: #ccc;
  font-size: 12px;
}
.round .entries li .when {
  width: 35px;
  color: #ccc;
  font-size: 10px;
  font-weight: bold;
}
.message .from {
  font-weight: bold;
}
