body {
  background: #efefef;
  font: 14px/20px Verdana;
}
p {
  margin: 5px;
}
input {
  vertical-align: top;
  font-size: 1.1em;
  padding: 0.6em;
  outline: 0;
  border: 1px solid #DDDDDD;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #C9C9C9;
}
#goplay {
  background: #35a732;
  color: #a9f3a8;
  border: 1px solid #2d932a;
  cursor: pointer;
}
#goplay:hover {
  background: #32b92e;
  color: #fff;
}
