/*
http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_.
Colors: 
#FFFFF
#CBE86B
#F2E9E1
#1C140D

*/

body {
  padding:0;
  margin:0;
  font: 14px "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  color:#1C140D;
}

a{
  color:#1C140D;
}

a:hover{
  text-decoration:none;
}

#wrapper{
  width:1024px;
  margin:0 auto;
  position:relative;
}

h1, h2{
  font-family: 'Yanone Kaffeesatz';
}

#header{
  overflow:hidden;
  border-bottom:1px solid #bad562;
  margin-bottom:15px;
}

#logo{
  width:200px;
  float:left;
}

#logo h1{
    margin: 15px 0 0 0;
}

#logo h1 a{
  font-size:36px;
  text-decoration:none;
  color:#7E9042;
}

ul#menu{
  list-style-type:none;
  width:230px;
  float:right;
  margin:36px 0 0 0;
}

ul#menu li{
  display:inline;
}

ul#menu li a{
  padding:4px 8px;
  background-color: #CBE86B;
  text-decoration:none;
  color:#1C140D;
  margin:0 3px;
  border: 1px solid #bad562;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ul#menu li a:hover{
  background-color:#bad562;
}

.close{
  float:right;
  margin-top:-15px;
  margin-right:-10px;
  font-size:16px;
  cursor:pointer;
}

#signup-form{
  display:none;
  width:250px;
  position:absolute;
  top:60px;
  right:10px;
  background-color:#F2E9E1;
  padding:15px;
  border: 1px dotted #1C140D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#signup-form h2{
  margin-top:0;
}

#signup-form input{
  width:200px;
  font-size:16px;
}

#signin-form{
  display:none;
  width:250px;
  position:absolute;
  top:60px;
  right:10px;
  background-color:#F2E9E1;
  padding:15px;
  border: 1px dotted #1C140D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#signin-form h2{
  margin-top:0;
}

#signin-form input{
  width:200px;
  font-size:16px;
}

#counter{
  width:300px;
  float:right;
}

#label{
  width:200px;
  font-size:20px;
  display:inline;
}

#time{
  width:100px;
  font-size:24px;
  display:inline;
  padding-left:10px;
}

#unit{
  display:inline;
}

#word{
  clear:both;
    font-family: 'Yanone Kaffeesatz';
font-size:60px;
padding:15px 30px;
background-color: #CBE86B;
border: 3px dotted #1C140D;
margin-top:20px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#instructions{
  font-size:24px;
  width:650px;
  float:left;
  margin-bottom:5px;
}

#instructions span{
  font-size:28px;
  color:#7e9042;
}

#disclaimer{
  font-size:10px;
  text-align:right;
}

#scores{
  width:400px;
  overflow:hidden;
  margin-top:10px;
}

#scores h2{
  font-size:36px;
  margin:5px 0 0 0;
}

#scores ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

#scores ul li{
  clear:both;
  font-size:16px;
  padding:4px 8px;
  overflow:hidden;
}

#scores ul li:nth-child(1) .place{
  background-color: #e1d90a;
}

#scores ul li:nth-child(2) .place{
  background-color: #b7b1ae;
}

#scores ul li:nth-child(3) .place{
  background-color: #b79e51;
}

#scores ul li:hover{
  background-color:#F2E9E1;
}

#scores ul li.wrong{
  background-color:#ed8484;
}

#scores ul li:hover.wrong{
  background-color:#ff766f;
}

#scores ul li .place{
  width:40px;
  height:40px;
  float:left;
  font-size:40px;
  border:1px solid #1C140D;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding:10px;
  margin-right:10px;
}

#scores ul li .place:first{

}

#scores ul li .place span{
  font-size:12px;
  vertical-align:top;
}

#scores ul li .name{
  width:150px;
  float:left;
  margin-top:12px;
}

#scores ul li .score{
  width:50px;
  float:left;
  margin-top:12px;
}

#scores ul li .message{
  width:100px;
  float:left;
  margin-top:12px;
}

.question{
  font-weight:bold;
  margin-top:25px;
}

.question p{
  font-weight:normal;
  margin-left:20px;
}


#footer{
  background-color: #CBE86B;
  border: 3px dotted #1C140D;
  text-align:center;
  padding:10px 0 30px 0;
  margin-top:15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
